<h2>訂單列表</h2>

<div class="row">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>成立時間</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= link_to order.id, order %></td>
					<td><%= order.created_on %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>