// Place all the styles related to the account::my_follow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3{
	margin-left: 90px;
}
table#group{
	margin-left: 90px;
	width: 770px;
	border-collapse: collapse;
	tr:hover {
		background-color: #fffaf0; 
	}
	th{
	letter-spacing: 0.1cm;
		}
	th#select{
	width: 70px;
				}
	th.price{
	width: 120px;
				}
	th.options{
		width: 120px;
	}
	th.times{
		width:120px;
	}
	td.picture{
		width:90px;
	}
	span.cart{
		float: right
	}
	}
.follow{
	color: white;
	margin-left: 90px
}
#apple{
	color: yellow;
	float: left;
	margin-left: 16px;
}
	
.title{
	font-size: 15px;
  font-weight: bold;
  a{
  	color: green;
  }
}

.time{
  color: gray;
}