<div class="row">
	<div class="col-md-6 col-md-offset-1">
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>New Products</h2>	
			</div>
			<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
	