<h2>Users List</h2>

  <table class= "table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>User's Email</th>
        <th>User's Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.admin? %>
            權限：Admin
          <% else %>
            權限：Normal
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= link_to "To Normal", to_normal_admin_user_path(user), method: :post,
            class: "btn btn-success btn-xs" %>
          <% else %>
            <%= link_to "To Admin", to_admin_admin_user_path(user), method: :post,
            class: "btn btn-warning btn-xs"%>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
